@import"./variables.scss";
.card__container5{
    grid-area:bottom2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     .card__doors{
        width: 48%;
        height:100%;
        background:center/cover no-repeat url(../img/doors.png);
        @include shadow;
        border-bottom: rgb(175, 27, 11) solid 2px;
        &-like{
            width: 25px;
            height:25px;
            background:center/cover no-repeat url(../img/icon-heart.svg);
            float: right;
            margin-top: 20px;
            margin-right: 20px;
            cursor: pointer;
            &:hover{
                background:center/cover no-repeat url(../img/icon-heart-hovered.svg);

            }

        }
        &-content{
            margin-top: 85%;
            width:85%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            &-header-title{
                font-size: 15px;
                font-weight: lighter;
                cursor: pointer;
                    &:hover{
                    color:$text-hovered
                }
            }
            &-header-location{
                font-size: 10px;
            }
            &-likes{
                font-size: 8px;
                background:$country-tag-background;
                padding:1px 6px;
                border-radius: 8px;
            }

        }

    }
     .card__house{
        width: 48%;
        height:100%;
        position:relative;
        background:center/cover no-repeat url(../img/burano.png);
        @include shadow;
        &-like{
            width: 25px;
            height:25px;
            background:center/cover no-repeat url(../img/icon-heart.svg);
            float: right;
            margin-top: 20px;
            margin-right: 20px;
            cursor: pointer;
            &:hover{
                background:center/cover no-repeat url(../img/icon-heart-hovered.svg);

            }
        }
        &-content-container{
            width: 100%;
            height:80px;
            position:absolute;
            top:75%;
            display: flex;
            justify-content: center;    
            .card__house-content-tag{
                width: 90%;     
                background: white;
                border-radius: 8px;
                @include shadow;
                display: flex;
                justify-content: space-around;
                .card__house-content{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    
                    &-reviews{
                        font-size: 10px;
                        &-stars{
                            color:yellow;
                        }
                        &-number{
                         color:grey;
                        }
                     }
                     &-details{
                         margin-top: 5px;
                         line-height: 10px;
                         &-title{
                             font-size: 15px;
                             color:black;
                             font-weight: lighter;
                         }
                         &-location{
                             color:grey;
                             font-size: 10px;
                         }
                     }
                     &-price{
                         font-size: 15px;
                         color:black;
                     }
                }
                .card__house-view-btn{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    i{
                        color:$button-color;
                        &:hover{
                            color:$button-color-hovered;
                        }
                    }
                
                }
                
            }
            
        }
       
    }
}
