@import"./variables.scss";
.card__florence{
    grid-area:middle2;
    position: relative;
    background:center/cover no-repeat url(../img/florence.png);
    overflow: hidden;
    @include shadow;
    &-background{
        position: absolute;
        color:rgba(255,255,255,.1);
        font-size: 120px;
        top:100px;
        left:-50px;
    }
    &-country{
        @include country-tag($background:white);
        color:black;
        float:right;
        margin-top:15px;
        margin-right: 15px;
        
    }
    &-content{
        position: absolute;
        width: 100%;
        top:50%;
        display: flex;
        justify-content: space-between;
        .card__florence-title{
            border-left:solid $text-color-green 3px;
            padding-left: 20px;
            cursor: pointer;
                    &:hover{
                    color:$text-color-green;
                }
            .card__florence-date{
                font-size: 10px;
                color:$text-color-green;
            }
            .card__florence-location{
                font-size: 20px;
                font-weight: lighter;
            }
        }
        .card__florence-btn{
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            button{
            background-color: $button-color;
            color:$text-color;
            padding:5px 16px;
            border-radius: 20px;
            border: none;
            font-size: 12px;
            cursor: pointer;   
            &:hover{
                background:$button-color-hovered;
            }
            }  
        }
    } 
}